a {
    text-decoration: none;
  }

body {
    background-color: #34c9eb;
    color: blueviolet;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

nav {
    background-color: rgba(200, 255, 0, 0.521);
}

aside {
    background-color: #ebb521;
}

nav, aside {
    color: black;
}


a:visited {
    color: black;
}

a:hover {
    color: white;
}

section {
    border: 5px solid black;
}